.advantages {
    background-color: #f6f6f6;
    padding: 63px 0 49px 0;
    &__title {
        font-size: 30px;
        text-align: center;
        font-weight: 700;
    }
    &__wrapper {
        min-width: 869px;
        margin-top: 67px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 200px;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 43px;
        }
        h5 {
            font-size: 16px;
            text-align: center;
            font-weight: 700;
            margin-bottom: 15px;
        }
        text-align: center;
        font-weight: 300;
        font-size: 12px;
        a {
            color: $main-color;
            text-decoration: underline;
        }
    }
}