.feed-form {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    width: 300px;
    input {
        height: 50px;
        border-radius: 0px;
        background-color: #fff;
        margin-bottom: 17px;
        &:last-child {
            margin-bottom: 20px;
        }
    }
}