.feed-form {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    width: 300px;
    input {
        height: 50px;
        font-weight: 300;
        font-size: 14px;
        border: none;
        color: #2b2b2b;
        background-color: #fff;
        margin-bottom: 17px;
        padding: 0 20px 0 20px;
        &:last-of-type {
            margin-bottom: 25px;
        }
    }
}